{% extends "base.html" %}

{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            {% if user.profile.photo %}
                <img class="rounded-circle article-img" src="{{ user.profile.photo.url }}">
            {% endif %}
            <div class="media-body">
                <div class="article-metadata">
                    <span class="author">Автор:</span> {{ post.user }}
                </div>
                <h2>
                    <a class="article-title" href="{% url 'post-detail' post.pk %}">
                        {{ post.title }}
                    </a>
                </h2>
            </div>
        </article>
    {% endfor %}
{% endblock content %}
